@theme {
  /* ---------- Font Size Scale ---------- */

  --text-3xl: 32px;
  --text-3xl--line-height: 42px;

  --text-2xl: 24px;
  --text-2xl--line-height: 32px;

  --text-xl: 20px;
  --text-xl--line-height: 32px;

  --text-2lg: 18px;
  --text-2lg--line-height: 26px;

  --text-lg: 16px;
  --text-lg--line-height: 26px;

  --text-md: 14px;
  --text-md--line-height: 24px;

  --text-sm: 13px;
  --text-sm--line-height: 22px;

  --text-xs: 12px;
  --text-xs--line-height: 18px;
}

@theme {
  /* ---------- Font Weight ---------- */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
